@import "/css/elements-css/base.css";
@import "/css/elements-css/typography.css";
@import "/css/elements-css/homePage-layout.css";
@import "/css/elements-css/card.css";
@import "/css/elements-css/button.css";
@import "/css/elements-css/header.css";
@import "/css/elements-css/footer.css";
@import "/css/elements-css/nav-bar.css";


.heading {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  padding: 2.5rem;
  font-size: 4.8rem;
  letter-spacing: 0.45rem;
}

.heading2 {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  padding: 2.5rem;
  font-size: 2.8rem;
  letter-spacing: 0.15rem;
}

.homepage-grid__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}